*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#FAF8F5;
    color:#40352D;
}

.hero{
    height:100vh;
    background:linear-gradient(rgba(255,248,240,0.65),rgba(255,248,240,0.65)),
               url('https://images.unsplash.com/photo-1511285560929-80b456fea0bc?auto=format&fit=crop&w=1400&q=80');
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero-content{
    max-width:600px;
    backdrop-filter:blur(6px);
    background:rgba(255,255,255,0.5);
    padding:35px;
    border-radius:20px;
}

.welcome{
    letter-spacing:4px;
    color:#9F7E54;
    font-size:13px;
    margin-bottom:12px;
}

h1{
    font-family:'Cormorant Garamond', serif;
    font-size:64px;
    font-weight:600;
}

h1 span{
    color:#B8894F;
}

.date{
    margin-top:10px;
    font-size:18px;
    color:#7B6854;
}

.description{
    margin:25px 0;
    line-height:1.8;
}

button{
    background:#B8894F;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:40px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

button:hover{
    background:#8E6638;
    transform:translateY(-2px);
}

@media(max-width:600px){

    h1{
        font-size:48px;
    }

    .hero-content{
        padding:25px;
    }
}